---
import Section from "./Section.astro";

const {
  color = 'white',
  title = 'Daño informatico',
  text = 'En el mundo digital, las tecnologías electrónicas y la gestión de información implican aspectos legales, técnicos y de seguridad, fundamentales para interactuar con sistemas y validar transacciones en línea.',
  imageSrc = '/hacker.avif', 
} = Astro.props;
---

<Section
  color={color}
  text={text}
  title={title}
  imageSrc= {imageSrc}  
>
  <div slot="header" class="flex flex-col items-center gap-2">
    <h1 class="text-3xl font-normal text-black">{title}</h1>
  </div>
</Section>