---
import Section from "./Section.astro";

const {
  color = 'white',
  title = 'Ciberataques',
  text = 'Los ciberataques son acciones ilegales realizadas en el ciberespacio con el fin de dañar, robar o manipular información. Estos ataques pueden comprometer la seguridad de sistemas informáticos, afectar la privacidad de las personas y alterar el funcionamiento de redes digitales. En muchos países, como Argentina, los delitos informáticos están claramente definidos en la ley y abarcan desde el robo de datos hasta la suplantación de identidad. Los ciberdelincuentes emplean diversas herramientas y técnicas para llevar a cabo estos ataques, lo que subraya la importancia de la ciberseguridad para proteger tanto a individuos como a organizaciones frente a amenazas crecientes en el entorno digital.',
  imageSrc = '/attack-domain.avif', 
} = Astro.props;
---

<Section
  color={color}
  text={text}
  title={title}
  imageSrc= {imageSrc}  
  showButton={false} 
>
  <div slot="header" class="flex flex-col items-center gap-2">
    <h1 class="text-3xl font-normal text-black">{title}</h1>
  </div>
</Section>